# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python cache
__pycache__/
*.py[cod]
*.so

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment folders
env/
venv/
ENV/

# Ignore any data files you don't want to upload
/input/
*.csv
*.zip
